/* Borrar. Lo dejamos en caso de Emergencia :)

table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}

address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}

q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

*/